/* Estilos generales */
.card-container {
    text-align: center;
    margin: 20px;
}

.search-form {
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 250px;
    box-sizing: border-box;
}

.search-button {
    padding: 10px 20px;
    margin-left: 10px;
}

.error-message {
    color: red;
}

.cards-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas grandes */
    gap: 20px;
    margin-top: 20px;
    justify-items: center; /* Centra las cartas en cada celda */
}

.card-item {

    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;

}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

.Scard-image {
    width: 25vw;
    border-radius: 8px;
    height: auto;             
    object-fit: cover;         
    object-position: center;
}

/* Medios de pantalla */
@media (max-width: 768px) {
    .cards-list {
        grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
    }
}

@media (max-width: 600px) {
    .search-input {
        width: 80%;
        max-width: none;
    }

    .search-button {
        width: 80%;
        margin-top: 10px;
    }
}

/* Aseguramos que la carta esté centrada si solo hay una */
.cards-list:only-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la pantalla si hay solo una carta */
}
h2{
    font-size: 25px;
}